.container{
    margin-bottom: 90px;
}

.carousel-bg{
    background-color: #fceae8;
    border-radius: 8px;
}

.carousel-item{
    padding: 25px 45px;
}

.price{
    color: #ff4e94;
}

.buy-now-btn{
    padding: 8px 32px;
    border-radius: 7px;
    background-image: linear-gradient(to bottom,#e01365, #ff4e94);
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 13px;
}

/* Categories section */
.cat1, .cat2, .cat3{
    border-radius: 7px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: deepskyblue;
}

.categories h1{
    color: white;
}

.categories img{
    width: 35%;
}

/* Shoes section */

.shoes .buy-now-btn{
    padding: 7px 14px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

/* Footer Section */
footer .container{
    height: 400px;
}